body {
  margin: 0;
}

div {
  box-sizing: border-box;
}
.main_background {
  width: 100%;
  height: 500px;
  background-image: url("../images/shoes_background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1px;
  text-align: center;
  position: relative;
}

.main_title{
  color: white;
  font-size: 40px;
  margin-top: 100px;
  /* div의 자식들은 margin이 서로 겹치는 현상이 발생 */
  /* 해결 방법은 부모에게 padding을 1px로 주어서 해결 */
}

.main_content {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.main_button {
  padding: 15px;
  font-size: 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer; /* 버튼에 마우스 올리면 손 모양으로 바뀜*/
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
}

.main_button:hover {
  color: red;
}

.explain-box {
  width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #eee;
  position: relative;
  top: -40px;
}

.pseudo::first-letter {
  color:red;
  font-size: 30px;
}

.pseudo::first-line {
  color: blue;
}

div, input, textarea {
  box-sizing: border-box;
}

.form-background {
  background-color: black;
  padding: 30px;
}

.form-white {
  background-color: white;
  padding: 30px;
  width: 80%;
  margin: auto;
  max-width: 600px;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.w-100 {
  width: 100%;
  padding: 10px;
}

.w-50 {
  width: 50%;
  padding: 10px;
  float: left;
}

.nav-container {
  display: flex;
  height: 50px;
  padding: 10px;
  justify-content: center;
  background-color: black;
}

.nav-item {
  margin-right: 10px;
  color: white;
}

.product-container {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.product-container div {
  /* float: left; */
  width: 25%;
  text-align: center;
}


/* 미디어 쿼리 : 보통 css의 마지막에 기록 */

/* 현재 브라우저의 폭이 1200px 이하가 될 경우 */
@media screen and (max-width: 1200px){
  .main_title {
    font-size: 30px;
  }

  .product-container {
    max-width: 600px;
    margin: 0 auto;
  }

  .product-container div {
    flex: 1 1 50%; /* 2개씩 한 줄 */
  }
}
/* 현재 브라우저의 폭이 768px 이하가 될 경우 */
@media screen and (max-width: 768px){
  .main_title {
    font-size: 20px;
  }

  .product-container div {
    /* 
    flex: 1 1 100%; 1개씩 한 줄
    첫 번째 인자: flex-basis(기본크기)
    두 번째 인자: shrink(줄어들것인가?)
    세 번째 인자: flex-grow(늘어나기, 크기 배율)
    */
    flex: 1 1 100%; 
  }
}

/* 현재 브라우저의 폭이 576px 이하가 될 경우 */
@media screen and (max-width: 576px){
  .main_title {
    font-size: 10px;
  }
}

